[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-cloud-translate = "*"
google-cloud-speech = "*"
google-cloud-texttospeech = "*"
pathlib = "*"
pydub = "==0.18.0"
python-msspeak = "*"
unidecode = "*"
keyring = "*"

[dev-packages]

[requires]
python_version = "3.6"
